[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
flake8 = "*"
check-manifest = "*"
twine = "*"
pytest = "*"
pytest-cov = "*"
codecov = "*"

[packages]
check-manifest = "*"

[requires]
python_version = "3.6"
